<footer class="footer">
  <div class="footer-body container">
    <%= link to: chain_path(@conn, :show), class: "footer-brand" do %>
      <img class="footer-logo" src="<%= logo() %>" />
    <% end %>
    <div class="icon-links icon-links-primary">
    </div>

    <%= gettext "Copyright %{year} Bloxberg", year: 2019 %>

  </div>
</footer>
